---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=vN1Tcx9clVu1w7reZe8dsqQfwHzG31w9Cpc_ywmYmpY"></script>
        <style>
    /* Ensure the map adapts to its container */
    #clustrmaps-widget {
      width: 100% !important; /* Takes up full width of the parent container */
      height: auto !important; /* Automatically adjusts height */
      max-width: 100%; /* Prevents overflow */
      aspect-ratio: 16 / 9; /* Ensures a consistent aspect ratio */
      max-height: 400px;
  overflow: hidden;
    }
  </style>
      </footer>
    </div>
    {% include scripts.html %}
  </body>
</html>
