---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      

      <div id="clustrmaps-globe-container" style="width: 100px; height: 100px; margin: 0 auto; margin-top: -50px">
      <script 
      type="text/javascript" 
      id="clstr_globe" 
      src="//clustrmaps.com/globe.js?d=vN1Tcx9clVu1w7reZe8dsqQfwHzG31w9Cpc_ywmYmpY">
      </script>
      </div>
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
